.violet
{
    border: 50px solid;
    color: 	#9400D3;
}
.indigo
{
    border: 50px solid;
    color: #4B0082;
}
.blue
{
    border: 50px solid;
    color: #0000FF;
}
.green
{
    border: 50px solid;
    color: 	#00FF00;
}
.yellow
{
    border: 50px solid;
    color: #FFFF00 ;
}
.orange
{
    border: 50px solid;
    color: #FF7F00;
}
.red
{
    border: 50px solid;
    color: #FF0000;
}