body 
{
display:flex;
justify-content:center;
}
.chess-board { 
border-spacing: 0; 
border-collapse: collapse; 
}
.chess-board th 
{ 
padding: .5em; 
}
.chess-board td 
{ 
border: 1px solid; 
width: 2em; 
height: 2em; 
}
.chess-board .white 
{ 
background: #eee; 
}
.chess-board .black 
{ 
background: #000; 
}